{% extends 'base.html' %}
{% block body %}
<style>
body{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
* {box-sizing: border-box}
input[type=text], input[type=file] {
   width: 100%;
   font-size: 16px;
    padding: 14px;
   margin: 5px 0 4px 0;
   display: inline-block;
   border: none;
   background:#ddd;
}
label{
   font-size: 15px;
   color:DarkSlateGray
}
input[type=text]:focus, input[type=file]:focus {
   background-color:LightCyan;
   outline: dark;
}
.formContainer {
   padding-right:900px;
    padding-left: 110px;
    padding-top: 0px;
}
.btn{background-color:grey;color:white}



</style>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h2 style="color:white;font-size:25px;background-color:Gray;padding:13px">Add Movie</h2>
    <div class="formContainer">

        <label for="name"><b>Movie name </b></label>
        <input type="text" name="name" placeholder="Enter your movie name"><br>
        <label for="dis"><b>Description</b></label>
        <input type="text" name="dis" placeholder="Enter your movie description"><br>
        <label for="year"><b>Year</b></label>
        <input type="text" name="year" placeholder="Enter your movie year"><br>
        <label for="img"><b>Image</b></label>
        <input type="file" name="img"><br>
        <input class="btn" type="submit">
        <a href="/"> <input style="background-color:black;color:white" class="btn btn-submit" type="button"
                            value="Cancel"></a><br>
    </div>
</form>
{% endblock %}